.App {
  font-family: sans-serif;
  text-align: center;
}

.hex {
  cursor: pointer;
}

.hex:hover div {
  border-color: rgb(235, 235, 96) !important;
}

.hex:active div {
  border-color: #faf !important;
}
