.App {
  font-family: sans-serif;
  text-align: center;
}

.hex {
  cursor: pointer;
  font-size: 10px;
}

.hex:hover div {
  border-color: black !important;
}

.hex:active div {
  border-color: green !important;
}
